<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name Card Website</title>

    <link rel="stylesheet" href="static/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
    <div class=container>
        <div class="card">
            <img class="profile-img" src="static/placeholder.png" alt="profile-img">
            <h1 class="name">Guilherme de Paiva</h1>
            <h4 class="title">Systems Analysis and Development Student</h4>
            <ul class="buttons">
                <li class="button"><a class="link" href="https://github.com/Guilherme-PS" target="_blank">Github</a></li>
                <li class="button"><a class="link" href="https://www.linkedin.com/in/guilherme-de-paiva-950034249/" target="_blank">LinkedIn</a></li>
            </ul>
        </div>
    </div>
</body>
</html>