:root {
    --bg-primary: #182335;
    --bg-secondary: #E15546;
    --bg-tertiary: #EEAF9D;
    --color-primary: #ffffff;
    --color-secondary: #EAE4CC; 
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-primary);
    color: var(--color-primary);
}

/* HOME */
#home h1 {
    font-family: 'Michroma', sans-serif;
}

#home h2 {
    font-family: 'Josefin Slab', serif;
}

#home h3 {
    font-family: 'Josefin Slab', serif;
}

#home .svg-1 {
    position: absolute;
    top: 0;
    right: 0;
}

#home .svg-2 {
    position: absolute;
    bottom: 50px;
    animation: floating 1.25s infinite ease-in-out alternate;
}

@keyframes floating {
    100% {
        transform: translateY(25px);
    }
}

/* ABOUT */
#about h1 {
    font-family: 'Michroma', sans-serif;
}

#about h2 {
    font-family: 'Michroma', sans-serif;
    padding-bottom: 3px;
    border-bottom: 3px solid var(--color-primary);
}

#about .text {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

#about .tech::after {
    background-color: var(--bg-secondary);
    display: inline;
    position: absolute;
    left: 0;
    content: "";
    width: 100%;
    z-index: -1;
}


/* CONTACT */
#contact h1 {
    font-family: 'Michroma', sans-serif;
    letter-spacing: 3px;
}

#contact h4 {
    font-family: 'Michroma', sans-serif;
    letter-spacing: 1px;
    padding-bottom: 3px;
    border-bottom: 3px solid var(--color-primary);
}

#contact .cards {
    background-color: var(--bg-secondary);
    font-family: 'Michroma', sans-serif;
    letter-spacing: 10px;
    position: relative;
    transition: color 0.4s linear;
}

#contact .cards::before {
    background-color: var(--bg-tertiary);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 7px;
    height: 100%;
    transition: transform 0.3s ease;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scale(1, 0);
}

#contact .cards:hover::before {
    transform: scale(1, 1);
}

#contact label {
    font-family: 'Michroma', sans-serif;
    letter-spacing: 3px;
}

#contact label span {
    color: var(--bg-secondary);
}

#contact input, textarea {
    width: 100%;
    resize: None;
    outline: None;
    transition: all 0.5s ease-out;
}

#contact input:focus, textarea:focus {
    border: 2px solid var(--bg-tertiary);
}

#contact input[placeholder], textarea[placeholder] {
    font-family: 'Roboto', sans-serif;
}

#contact .col-lg-8::before {
    background-color: var(--bg-tertiary);
    content: "";
    position: absolute;
    left: 2px;
    top: -10px;
    width: 4px;
    height: 105%;
}

#contact button {
    background-color: transparent;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    font-family: 'Michroma', sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    transition: background 0.25s ease-in-out;
}

#contact button:hover {
    background-color: var(--color-primary);
    color: var(--bg-primary);
}